.section-main {
  display: flex;
  align-items: stretch;
}
.sidebar-container {
  min-height: 100dvh;
  background-color: whitesmoke;
  padding: 30px;
}
.content-container {
  padding: 30px;
}

@media screen and (max-width: 780px) {
  .section-main {
    flex-direction: column;
    gap: 3rem;
  }
  .sidebar-container {
    /* background-color: orange; */
    min-height: 0;
    height: auto;
    width: 100% !important;
  }
}
@media screen and (max-width: 520px) {
  .content-container {
    padding: 0px;
  }
}
